<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Company_SDConnect" connectionString="Data Source=LAPTOP-N5TCAKUS\SQLEXPRESS;Initial Catalog=Company_SD;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>